body {
    
    margin: 0;
}
*{
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}
@keyframes readyAnimation{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes wonAnimation{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(3);
        opacity: 0;
    }
}
@keyframes myTurnDice{
    from{
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(1.1) rotate(35deg);
    }
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.coin.won::after {
    animation: wonAnimation 0.5s linear;
    background: radial-gradient(rgba(255,255,255,0.15), rgba(5, 5, 5, 0.3));
}
.boardContainer{
  text-align: center;
}
.dice.spin{
    animation: spin 0.5s infinite linear;
}
.dice.value0.myTurn:not(.spin) {
    animation: myTurnDice 0.25s alternate infinite linear;
}
.gameBoard {
    display: inline-block;
    
    line-height: 0;
    border-right: solid 1px #555555;
    border-top: solid 1px #555555;
    position: relative;
}
.gameBoard .cell {
    position: relative;
    display: inline-block;
}
.gameBoard .cell::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-left: solid 1px #555555;
    border-bottom: solid 1px #555555;
}
.gameBoard .centerBox {
    overflow: hidden;
    background-color: #fff;
}
.centerBox>.red.home {
    width: 70.1%;
    height: 70.1%;
    transform: rotate(45deg);
    left: -35%;
    top: 15%;
}
.centerBox>.green.home {
    width: 70.1%;
    height: 70.1%;
    transform: rotate(45deg);
    left: 15%;
    top: -35%;
}
.centerBox>.yellow.home {
    width: 70.1%;
    height: 70.1%;
    transform: rotate(45deg);
    right: -35%;
    top: 15%;
}
.centerBox>.blue.home {
    width: 70.1%;
    height: 70.1%;
    transform: rotate(45deg);
    left: 15%;
    bottom: -35%;
}
.gameBoard .homeBox {
    border-top: solid 1px #555555;
    border-bottom: solid 1px #555555;
}
.gameBoard .homeBox,.gameBoard .centerBox,.gameBoard .centerBox>.home,.homeBox>.homeInner {
    position: absolute;
    z-index: 1;
}
.gameBoard .homeBox::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: solid 1px #555555;
}
.gameBoard .homeBox.red {
  left: 0;
  top: 0;
}
.gameBoard .homeBox.green {
  right: 0;
  top: 0;
}
.gameBoard .homeBox.blue {
  left: 0;
  bottom: 0;
}
.gameBoard .homeBox.yellow {
  right: 0;
  bottom: 0;
}
.gameBoard .homeBox.red>.homeInner {
  left: 16%;
  top: 16%;
}
.gameBoard .homeBox.green>.homeInner {
  right: 16%;
  top: 16%;
}
.gameBoard .homeBox.blue>.homeInner {
  left: 16%;
  bottom: 16%;
}
.gameBoard .homeBox.yellow>.homeInner {
  right: 16%;
  bottom: 16%;
}
.playerStartCircle {
    position: absolute;
    border-radius: 50%;
    width: 25%;
    height: 25%;
    background-color: #eeeeee;
}
.playerStartCircle.circle0 {
    left: 12%;
    top: 12%;
}
.playerStartCircle.circle1 {
    right: 12%;
    top: 12%;
}
.playerStartCircle.circle2 {
    left: 12%;
    bottom: 12%;
}
.playerStartCircle.circle3 {
    right: 12%;
    bottom: 12%;
}
.cell.star svg.icon {  
    color: #555555;
}
.cell.arrow svg.icon {  
    color: #ffffff;
}
svg.icon {
    position: absolute;
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%;
}
.cell.arrow147 svg {
    transform: rotate(-90deg);
}
.cell.arrow07 svg {
    transform: rotate(90deg);
}
.cell.arrow70 svg {
    transform: rotate(0deg);
}
.cell.arrow714 svg {
    transform: rotate(180deg);
}
.homeBox>.homeInner {
    background-color: #ffffff;    
    width: 64%;
    height: 64%;
    border: solid 1px #555555;
}

.red {
    background-color: #eb1c26;
}
.green {
    background-color: #03a14a;
}
.blue {
    background-color: #28afff;
}
.yellow {
    background-color: #ffdf1b;
}
.dice{
    background-size:auto 100%;
}
.dice.myTurn{
    cursor: pointer;
}
.coin {
    z-index: 5;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    width: 6.67%;
    height: 6.67%;
    transition: all 0.3s ease;
    position: absolute;
}
.coin.home {
    transition-duration: 0.5s;
}
.coin.ready::after {
    cursor: pointer;
}
.coin.ready::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    animation: readyAnimation 0.5s infinite linear;
    background-color: rgba(0,0,0,0.2);
}
.coin.red.redstartCell,.coin.blue.bluestartCell,.coin.green.greenstartCell,.coin.yellow.yellowstartCell {
    transition-duration: 0.5s;
}
.coin::after,.gameBoard .homeBox:before,.cell::before,.homeInner::before,.centerBox>div::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
}
.coin::after{
    border-radius: 50%;
}
.coin.red.home.circle0,.coin.blue.home.circle0,.coin.red.home.circle2,.coin.blue.home.circle2  {
    left: 10%;
}
.coin.red.home.circle1,.coin.blue.home.circle1,.coin.red.home.circle3,.coin.blue.home.circle3  {
    left: 23%;
}
.coin.red.home.circle0,.coin.green.home.circle0,.coin.red.home.circle1,.coin.green.home.circle1  {
    top: 10%;
}
.coin.red.home.circle2,.coin.green.home.circle2,.coin.red.home.circle3,.coin.green.home.circle3  {
    top: 23%;
}
.coin.green.home.circle1,.coin.yellow.home.circle1,.coin.green.home.circle3,.coin.yellow.home.circle3{
    left: 84%;
}
.coin.green.home.circle0,.coin.yellow.home.circle0,.coin.green.home.circle2,.coin.yellow.home.circle2{
    left: 71%;
}
.coin.blue.home.circle1,.coin.yellow.home.circle1,.coin.blue.home.circle0,.coin.yellow.home.circle0  {
    top:71%;
}
.coin.blue.home.circle2,.coin.yellow.home.circle2,.coin.blue.home.circle3,.coin.yellow.home.circle3  {
    top: 84%;
}
.coin:after,.gameBoard .homeBox:before,.cell::before,.homeInner::before,.centerBox>div::before {
    background: radial-gradient(rgba(255,255,255,0.15), rgba(0,0,0,0.15));
}
.homeBox::before,.homeInner::before,.centerBox>div::before {
    background: radial-gradient(transparent, rgba(0,0,0,0.0));
    z-index: 5;
}
.diceContainer {
    position: absolute;
    z-index: 10;
    transition: all 0.5s;
}
.diceContainer.coloRred {
    top: 10%;
    left: -20%;
}
.diceContainer.coloRgreen {
    top: 10%;
    left: 100%;
}
.diceContainer.coloRyellow {
    top: 71%;
    left: 100%;
}
.diceContainer.coloRblue {
    top: 71%;
    left: -20%;
}
.gameBoard.coloRred .diceContainer.coloRred,.gameBoard.coloRyellow .diceContainer.coloRred {
    top: -20%;
    left: 10%;
}
.gameBoard.coloRred .diceContainer.coloRgreen,.gameBoard.coloRyellow .diceContainer.coloRgreen {
    top: -20%;
    left: 71%;
}
.gameBoard.coloRred .diceContainer.coloRyellow,.gameBoard.coloRyellow .diceContainer.coloRyellow {
    top: 100%;
    left: 71%;
}
.gameBoard.coloRred .diceContainer.coloRblue,.gameBoard.coloRyellow .diceContainer.coloRblue {
    top: 100%;
    left: 10%;
}
.dice::after {
    content: "";
    position: absolute;
    left: 22%;
    right: 22%;
    top: 22%;
    bottom: 22%;
}